* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'FiraSans', sans-serif;
    background-color: white;
    min-width: 320px;
    min-height: 100vh;
}

input {
    outline: none;
}