.section-1 {
    .background-map {
        background-image: url("/image/svg/main-section.svg");
        background-size: 1920px, 1591px;
        background-position-x: center;
        background-position-y: 98px;
        background-repeat: no-repeat;
        height: 1591px;

    }
}
