.section-1 {
    position: relative;
    z-index: 2;

    .background-map {
        background-image: url("/image/svg/main-section.svg");
        background-size: 1920px, 1591px;
        background-position-x: center;
        background-position-y: 98px;
        background-repeat: no-repeat;
        height: 1591px;
    }

    .logo-star {
        position: absolute;
        width: 385px;
        height: 355px;
        top: 21px;
        left: 0;
    }

    .join-star {
        position: absolute;
        width: 272px;
        height: 272px;
        top: 346px;
        right: 109px;
    }

    .section-container.mod-section_1 {
            max-width: 1764px;
            height: 1493px;
            display: flex;
            flex-direction: column;

    }

    .header-elems {
        margin-bottom: 38px;
    }

    .header-elems_top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 57%;
        margin-top: 23px;
        margin-left: auto;
    }

    .logo-browse {
        max-width: 333px;
        height: 77px;
        margin-right: 30px;

    }

    .section-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 6px;
    }

    .join-button, .sign-in_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 112px;
        height: 47px;

        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        border: 1px solid #B8121A;
        text-decoration: none;
    }

    .join-button {
        color: #ffffff;
        background: #B8121A;
    }

    .sign-in_button {
        color: #B8121A;

    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 37px;
        margin-right: 60px;

        a {
            width: 20px;
            height: 20px;

            &:not(:last-of-type) {
                margin-right: 20px;
            }

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    .center-block {
        text-align: center;

        .center-block_subtitle {
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            color: #FFFFFF;
        }

        .center-block_title {
            font-family: 'PlayfairDisplay';
            font-size: 50px;
            line-height: 67px;
            font-weight: 400;
            color: #FFBC6B;
            margin-bottom: 40px;
        }
    }

    .bottom-block {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex: 1;
    }

    .bottom-block_wrap {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 132px;
            height: 132px;
            border: 1px solid #FFFFFF;
            top: -71px;
            right: -32px;
        }

    }

    .bottom-block_title {

        font-family: 'PlayfairDisplay';
        font-size: 48px;
        line-height: 64px;
        font-weight: 700;
        color: #FFBC6B;
        margin-bottom: 30px;
    }

    .bottom-block_point {
        color: #ffffff;
    }

    .block_button {
        width: 176px;
        height: 47px;

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        text-decoration: none;
        border: 3px solid #FFFFFF;
        color: #ffffff;
    }
}
